body {
  font-family: Arial, Helvetica, sans-serif;
}

#reviewModal {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: red;
  line-height: 50px;
  font-size: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 5%;
  width: 70px;
  text-decoration: none;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
}

.modal-body {
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: 50px;
}

#uploadedImage {
  display: block;
}

#cropButton {
  display: none;
}

.rating {
  float: left;
  color: #3d3754;
}
